doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="https://i.ibb.co/KjKZnJK/nick-columbia-lion.jpg" sizes="60x60")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  body
    block content
